In [1]:
import pandas as pd
import os

In [6]:
FPT=pd.read_csv("../data/market_data/FPT_price.csv")

In [7]:
FPT

            date   open   high    low  close   volume
0     2021-10-27  49.13  49.84  48.98  49.84  2326700
1     2021-10-28  49.84  49.95  49.34  49.74  1644700
2     2021-10-29  49.74  49.74  49.18  49.18  2382700
3     2021-11-01  49.44  49.44  48.52  48.63  2855800
4     2021-11-02  48.47  49.23  48.47  48.78  2109100
...          ...    ...    ...    ...    ...      ...
1030  2025-12-11  95.90  96.60  95.60  96.00  5211998
1031  2025-12-12  96.00  96.00  93.50  93.70  5519800
1032  2025-12-15  93.90  94.40  93.50  93.80  3524800
1033  2025-12-16  93.90  95.40  92.00  94.90  6295300
1034  2025-12-17  94.40  96.30  94.40  95.90  4967800

[1035 rows x 6 columns]

In [8]:
FPT.isna().sum()

date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [9]:
# Xóa các dòng có giá trị date trước 1/1/2022 và sau ngày 2025-12-02
FPT = FPT[(FPT['date'] >= '2022-01-01') & (FPT['date'] <= '2025-12-02')]
FPT

            date   open   high    low  close   volume
48    2022-01-04  47.41  47.81  47.36  47.46  1935000
49    2022-01-05  47.56  47.81  47.46  47.51  1193800
50    2022-01-06  47.51  47.71  47.46  47.46  1192400
51    2022-01-07  47.26  47.56  47.26  47.41  1016800
52    2022-01-10  47.31  47.46  46.65  46.70  1882400
...          ...    ...    ...    ...    ...      ...
1019  2025-11-26  98.77  99.17  97.88  97.98  5843562
1020  2025-11-27  98.18  98.77  97.09  98.48  4796150
1021  2025-11-28  98.08  98.38  96.10  96.10  6239769
1022  2025-12-01  96.90  97.70  96.10  96.60  3145177
1023  2025-12-02  96.80  97.30  95.40  96.60  5590644

[976 rows x 6 columns]

In [10]:
FPT.to_csv("../data/market_data/FPT_price.csv", index=False)

In [11]:
BID=pd.read_csv("../data/market_data/BID_price.csv")
VIC=pd.read_csv("../data/market_data/VIC_price.csv")
VJC=pd.read_csv("../data/market_data/VJC_price.csv")
VNM=pd.read_csv("../data/market_data/VNM_price.csv")

In [12]:
BID=BID[(BID['date'] >= '2022-01-01') & (BID['date'] <= '2025-12-02')]
VIC=VIC[(VIC['date'] >= '2022-01-01') & (VIC['date'] <= '2025-12-02')]
VJC=VJC[(VJC['date'] >= '2022-01-01') & (VJC['date'] <= '2025-12-02')]
VNM=VNM[(VNM['date'] >= '2022-01-01') & (VNM['date'] <= '2025-12-02')]

In [13]:
BID.to_csv("../data/market_data/BID_price.csv", index=False)
VIC.to_csv("../data/market_data/VIC_price.csv", index=False)
VJC.to_csv("../data/market_data/VJC_price.csv", index=False)
VNM.to_csv("../data/market_data/VNM_price.csv", index=False)